<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698697635818-shc98vi5t1jb7lo2ap2jijhi98qdnbpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698697635818-shc98vi5t1jb7lo2ap2jijhi98qdnbpf</string>
	<key>API_KEY</key>
	<string>AIzaSyD5GUQ8-CGYlKx8z0B1rlCgGQPpGWkBrys</string>
	<key>GCM_SENDER_ID</key>
	<string>698697635818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildHireApp</string>
	<key>PROJECT_ID</key>
	<string>build-hire</string>
	<key>STORAGE_BUCKET</key>
	<string>build-hire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698697635818:ios:5d4719faf17de4e7f0c493</string>
</dict>
</plist>